<% provide(:title, "Help") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %>| Used Books</title>
  </head>
  <body>
    <h1>Help</h1>
      <p>This the help page</p>
  </body>
</html>
