<!-- Nana Asiedu-Ansah
     2019 CUE
     Muhlenberg College
   Static home page of UsedBooks-->
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Welome to USED BOOKS</h1>
    <p class="lead">Welome to UsedBooks. This site gives students the
    opportunity to sell or trade textbooks upon completion
    of the course or class.</p>
    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
  </div>
</div>
