<% if params[:controller] == 'books' && params[:action] == 'index' ||
params[:action] == 'show'%>
<% end %>
<div class="list-group">
  <% @categories.each do |category| %>
     <%=link_to category.name, category_url(category_id), class:'list-group-item'%>
  <% end %>
<section>
  <div class = "container">
    <div class = "row">
      <div class = "col-md-8">

        </div>
        <div class = "col-md-4">

          <ul class="list-group">
            <li class="list-group-item">Computer Science</li>
            <li class="list-group-item">Mathematics</li>
            <li class="list-group-item">History</li>
          </ul>

        </div>
    </div>
  </div>

</section>
